{% extends 'base.html' %}
{% block title %}
    Revenue by Population
{% endblock %}

{% block content %}
    <table class="table table-dark table-hover">
        <thead>
        <caption>Revenue by Population</caption>
            <tr>
                <th>Year</th>
                <th>Small City Revenue</th>
                <th>Medium City Revenue</th>
                <th>Large City Revenue</th>
                <th>Extra Large City Revenue</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.year }}</td>
                <td>{{ report.revenue_1 }}</td>
                <td>{{ report.revenue_2 }}</td>
                <td>{{ report.revenue_3 }}</td>
                <td>{{ report.revenue_4 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

