{% extends 'base.html' %}
{% block title %}
    Total Sales by Childcare
{% endblock %}

{% block content %}
    <table class="table table-dark table-hover">
        <thead>
        <caption>Total Sales by Childcare</caption>
            <tr>
                <th>Month</th>
                <th>Revenue by stores with no childcare</th>
                <th>Revenue by stores with 30min childcare</th>
                <th>Revenue by stores with 45min childcare</th>
                <th>Revenue by stores with 60min childcare</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.month }}</td>
                <td>{{ report.revenue_1 }}</td>
                <td>{{ report.revenue_2 }}</td>
                <td>{{ report.revenue_3 }}</td>
                <td>{{ report.revenue_4 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

